.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main-content {
    flex: 1;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.mat-mdc-card {
  border-radius: 8px !important;
  overflow: hidden;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1) !important;
}

.mat-mdc-raised-button.mat-primary {
  background-color: #3f51b5 !important;
}

.mat-mdc-raised-button.mat-accent {
  background-color: #ff4081 !important;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(54, 0, 0, 0.5)),
    url("../assets/images/pizzaria.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
  margin-bottom: 50px;

  .hero-content {
    max-width: 800px;
    margin: 0 auto;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 30px;
    }
  }
}
